<h1>Topics Followed</h1>

<table>
  <thead>
  <tr>
    <th>Topic</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.topic_id %></td>
        <td><%= follower.topic.desc %></td>
      </tr>
  <% end %>
  </tbody>
</table>
